body{
    font-family: futura-pt;
    padding: 0;
    margin: 0;
}
section{
    background-color: white;
    height: 100%;
    height: 100%;


}

.first{
    height: 100%;
    background-color: rgb(255, 255, 255);
    font-size: 30px;
}
.primera{
    font-size: 95px;
    letter-spacing: 5px;

    
}
.firstarea{
    padding-left: 100px;
    display: flex;
    height: 100%;
    justify-content: space-between;
    
}
.first-text{

    display: flex;
    
}
.move{
    font-size: 70px;
    padding-left: 60px;
    padding-top: 200px;
}
p{
    font-size: 60px;
    color: #000000;
}
.hover1{
    display: inline-block;
    padding-bottom: 0rem;
    position: relative
}
.hover1::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 9px;
    padding-bottom: none;
    background-color: rgb(0, 0, 0);
    transition: width 0.25s ease-out;
}
.hover1:hover::before{
    width: 100%;

}
.hover2{
    display: inline-block;
    padding-bottom: 0rem;
    position: relative;
    transition: width 0.25s ease-out;
    
}
.hover2::before{
    content:"";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 9px;
    background-color: rgb(0, 0, 0);
  
}
.hover2::before{
    width: 100%;

}
.hover3{
    display: inline-block;
    padding-bottom: 0rem;
    position: relative;
}
.hover3::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 9px;
    background-color: rgb(0, 0, 0);
    transition: width 0.25s ease-out;
}
.hover3:hover::before{
    width: 100%;

}
.hover4{
    display: inline-block;
    padding-bottom: 0rem;
    position: relative;
}
.hover4::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 9px;
    background-color: rgb(0, 0, 0);
    transition: width 0.25s ease-out;
}
.hover4:hover::before{
    width: 100%;

}
.second{
    height: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    padding: 60px;
    scroll-behavior: smooth;
}
.third-section{
    color: #000000;
    display: flex;
    padding: 60px;
    flex-direction: column;
    background-color: #ffffff;
}
/* skills */
.skillone{
    height: 15px;
    width: 700px;
    background: black;
    border-radius: 50px;
    animation: skillone 5s 10;
}
.skilltwo{
    height: 15px;
    width: 600px;
    background: black;
    border-radius: 50px;
    animation: skilltwo 5s 10;
}
.skillthree{
    height: 15px;
    width: 500px;
    background: black;
    border-radius: 50px;
    animation: skillthree 5s 10;
}
.skillfour{
    height: 15px;
    width: 400px;
    background: black;
    border-radius: 50px;
    animation: skillfour 5s 10;
}
/* footer */
footer{
    height: 100px;
    background-color: #000000;
    padding: 60px;
    height: auto;    
}
.formcontrol{
    
    font-size: 30px;
    font-family: futura;
    border-bottom:  solid 3px white;
    height: 50px;
    align-items: center;
    
    
}
.form-control{
    background-color: black;
    font-size: 30px;
    font-family: futura;
    border-bottom:  solid 3px white;
    

   
}
input.formcontrol{
    background-color: rgb(0, 0, 0) ;
}

nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
}
ul{
    
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    scroll-behavior: smooth;
    overflow-y: scroll;
}
a{
    text-decoration: none;
    color: #000000;
    font-size: 33px;
    margin-top: 30px;

}
h1{
    font-size: 100px;
    margin: 0;
    color: #000000;
}
h2{
    font-size: 45px;  
    color: black;
}
.aboutmep{
    font-size: 25px;
    color: #000;
}

.button:hover{
    background-color: #ffffff;
}
.button:active{
    background-color: rgba(25, 62, 62, 0.747);
    color: #ffffff;
}
.button1{
    width: 200px;
    height: 50px;
    font-size: 30px;
    color: black;
    padding-top: 70px;
    cursor: pointer;
    display: inline-block;
    padding-bottom: 0.25rem;
    position: relative
}
.button2{
    width: 200px;
    height: 60px;
    font-size: 30px;
    color: black;
    padding-top: 40px;
    cursor: pointer;
    display: inline-block;
    padding-bottom: 0.25rem;
    position: relative
}

.button1::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: rgb(0, 0, 0);
    transition: width 0.25s ease-out;
}
.button1:hover::before{
    width: 100%;

}
.button2::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: rgb(0, 0, 0);
    transition: width 0.25s ease-out;
}
.button2:hover::before{
    width: 100%;

}
.socials{
    padding-bottom: 200px;
    padding-top: 300px;
    

}
.logo{
    height: 80px;
    margin: 30px;
}
.social{
    margin: 30px;
    
}
.social-a{
    padding-left: 60px;
}
.headshot{
    width: 200px;
    border-radius: 150px;
}
.headshot-container{
    display: flex;
    align-items: center;
    margin-bottom: 400px;
    height: 100vmax;

}

.project-container .project-card1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.dream{
    padding: none ;
}
.project-container .project-card1 .dream{
    display: flex;
    flex-direction: row;
    width: 100%;
    
}
.project-container .project-card1 .projectcard2{
    width: 100%;
}
@media only screen and (max-width: 1000px){
    .project-container .project-card1{
        flex-direction: row;
        
        
    }
    .project-container .project-card1 .dream{
        flex-direction: column;
        
    }
  
  
}
.informationn{
    width: 100%;
    color: black;
    padding-right: 100px;
    padding-left: 0px;
}


/* project1 */
.projsection1{
    height: 100vh;
    position: static;
}
    .projectoned{
        padding: 60px;
    }
        .dreamcatcher3{
            height: px;
            padding: 60px;
        }
            .projectonenav{
                display: flex;
            
                
            }
                .project1-container{
                    margin-top: auto;
                    
                    
                }

                    .projectphotos1{
                        height: 600px;
                        
                        padding: 60px;

                    }
                    .project1des{
                        font-size: 35px;
                        padding-right:90px;
                    }
/* project2 */

    .projectphotos2-con {
        display: flex;
            justify-content: space-evenly;
            height: 60vh;
    }
        .bottomprojectphotos2{
            height: 550px;
            padding: 60px;
     
        }

            .bottomprojectphotos2-con{
                display: flex;
                flex-direction: row;
                width: 100vh;
            }
            @media only screen and (max-width: 1000px){
                .bottomprojectphotos2-con{
                    flex-direction: column; 
                    
                }
                .bottomprojectphotos2{
                    width: 50%;
                    height: 50%;
                    
                    
                    
                }
                .projectphotos2{
                    height: 50vh;
        
                }

            }
/* project3 */
.projectphotos3{
    height: 500px;
    padding: 60px;
    position: static;

    
}
.project3-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: static;
    

}


/* project4 */
.projectphotos4-2{
    height: 450px;
    padding-left: 60px;
}
.projectphotos4-3{
    padding: 60px;
    height: 450px;

    

}
.projectphotos4-4{
    height: 450px;
    padding-left: 60px;
}

.project4-container .project4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

} 
.project4-container .project4 .projectcolumn1{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.project4-container .project4 .projectphotos4{
    width: 40%;
    height: 40%;
    padding-left: 60px;
    padding-right: none;
      
}


.projectphotos4{
    height: 200px;
}
/* project5 */
.projectphotos5{
    height: 600px;
}
.projectcolumn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 60px;
}
/* tabs */
.tabs{
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    max-width: 2000px;
   
}
.tabs__label{
    padding: 20px 50px;
    cursor: pointer;
}
.tabs__radio{
    display: none;   
}
.tabs__content{
    order:1;
    height: 400px;
    width: 100%;
    line-height: 1.5;
    display: none;
    margin-left: 60px;
    margin-bottom: 70px;
}
.tabs__radio:checked+.tabs__label{
    color:black;
    border-bottom: 2px solid black;
    
    display: inline-block; 
    position: relative;
}
.tabs__radio:checked+ .tabs__label+.tabs__content{
    display: initial;
}
